@*@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<p>Name: Hoang Dinh Cong</p>
<p>Email: conghd2709@gmail.com</p>
<p>More Info: <a href="http://hoangdinhcong.github.io/">Here</a></p>